html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    font-family: "K2D", sans-serif;
    /*background-image: radial-gradient(circle, #294969, #07396b);*/    
    background-color: #ffffff;
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    animation: fadeIn 1s ease-in-out;
}

/* Ensure main content takes up available space */
main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    color: #fff;
    animation: fadeIn 1s ease-in-out;
}

h1 {
    text-align: center;
}
.form-group {
    margin-bottom: 15px;
}
.BETTA {
    margin-right: 700px;
}
label {
    display: block;
    margin-bottom: 5px;
}
input[type="text"], input[type="email"], input[type="tel"], textarea {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    box-sizing: border-box;
}
button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-top: 20px;
}
button:hover {
    background-color: #45a049;
}
.container {
    max-width: 500px;
    margin: auto;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.top-header {
    background-color: #003366; /* สีกรมท่าเข้ม */
    padding: 10px;
    text-align: center;
    color: #FFFFFF; /* สีข้อความใน header */
}
.top-header h1 {
    margin: 0;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
nav ul li {
    display: inline;
    margin: 0 10px;
}
.menu-item {
    text-decoration: none;
    color: #FFFFFF; /* สีข้อความในเมนู */
}
footer {
    background-color: #000246;
    padding: 10px;
    text-align: center;
    color: #fff; /* สีข้อความของฟุตเตอร์ */
    border-top: 1px solid #ddd;
}